@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Courier New", Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e7ecef;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1 {
  color: #ffffff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #003554;
  width: 100%;
}

h1 > img {
  filter: invert(94%) sepia(3%) saturate(656%) hue-rotate(64deg)
    brightness(106%) contrast(96%);
}

button {
  width: 150px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background-color: #8b8c89;
  color: #ffffff;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

button:hover {
  background-color: #003554;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

dialog {
  margin: auto;
  background-color: #e7ecef;
  border: 1px solid #003554;
  border-radius: 1rem;
}

dialog > div {
  margin: 4rem;
}

dialog > div > p {
  font-size: 2rem;
  color: #003554;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  color: #003554;
}

input {
  border: none;
  height: 1.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid #5a6972;
  padding: 5px;
  font-size: 1.2rem;
}

input[type="checkbox"] {
  accent-color: #003554;
  width: 50px;
}

label {
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
}

.empty-library {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-library > p {
  font-size: 2.5rem;
  color: #003554;
}

.empty-library > img {
  width: 640px;
}

.library-container {
  background-color: #e7ecef;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 150px;
  height: 250px;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #274c77;
  color: #ffffff;
  font-size: 1.2rem;
}

.card > div {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
}

.delete-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a031e;
}

.read-btn {
  width: 70px;
  height: 30px;
  font-size: 1rem;
}

.info-div {
  display: flex;
  flex-direction: column;
}

.read-color {
  background-color: #5cab7d;
}

.no-read-color {
  background-color: #f07167;
}
