@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(fonts/Roboto-Light.ttf);
}

body {
  height: 100vh;
  font-family: Roboto-Light, Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #fffcf2;
  color: #252422;
}

.container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8rem;
  gap: 4rem;
}

.head {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 8rem; */
}

h1 {
  font-size: 2.5rem;
  font-family: Roboto-Light, Courier, monospace;
}
.intro {
  font-size: 1.2rem;
}

#bookForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formInputs {
  display: flex;
  gap: 2rem;
}

input,
select {
  width: 280px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc5b9;
  padding: 0.2rem 1rem;
  font-family: Roboto, Courier, monospace;
}

select {
  width: 90px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

button {
  width: 90px;
  height: 40px;
  border: none;
  background-color: #ccc5b9;
}

.deleteButton {
  background-color: #7d4f50;
  color: #fffcf2;
}

.deleteButton:hover {
  background-color: #80180f;
}

button:hover {
  background-color: #6c584c;
  color: #fffcf2;
}

.books {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
table {
  width: 100%;
}

thead > tr {
  font-family: Roboto-Bold, Courier, monospace;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

thead > tr > th {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

tr {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #252422;
}

td {
  flex: 1, auto;
  display: flex;
  width: 100%;
  justify-content: center;
}

.deleteButtonDiv,
.readButtonDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  color: #eb5e28;
  text-decoration: none;
  font-family: Roboto, Courier, monospace;
}

a:hover {
  color: #252422;
}
